/SlidingMenuDemo/.classpath
/SlidingMenuDemo/.settings
/SlidingMenuDemo/assets
/SlidingMenuDemo/bin
/SlidingMenuDemo/gen
/SlidingMenu/.classpath
/SlidingMenu/.settings
/SlidingMenu/.classpath
/SlidingMenu/.settings
